body {
    margin:0;
    font-family:Arial,sans-serif;
    height:100vh;
    display:flex;
    align-items:center;
    justify-content:center;
    background-color:#2E8B57; 
}

.container {
    width:900px;
    height:500px;
    display:flex;
    background:white;
    border-radius:30px;
    box-shadow:0 8px 30px rgba(0,0,0,0.1);
    overflow:hidden;
}

.left-box {
    width:40%;
    background:#f8f8f8;
    padding:40px;
    display:flex;
    flex-direction:column;
    justify-content:center;
    border-top-left-radius:30px;
    border-bottom-left-radius:30px;
}

.left-box h2 { 
    margin-bottom:30px; 
    font-size:28px; 
}

.left-box input { 
    width:100%; 
    padding:14px; 
    margin-bottom:20px; 
    border:1px solid #ccc; 
    border-radius:10px; 
    font-size:15px; 
}

.left-box button { 
    width:100%; 
    padding:14px; 
    background:#21c76a; 
    color:white; 
    border:none; 
    border-radius:10px; 
    font-size:16px; 
    cursor:pointer; 
    transition:0.2s; 
}

.left-box button:hover { 
    background:#1eae5e; 
}

/* پیام خطا */
#errorMsg {
    color: #d83b01;
    font-size: 14px;
    margin-bottom: 15px;
    display: none;
}

.right-box {
    width:60%;
    position:relative;
    display:flex;
    flex-direction:column;
    justify-content:flex-start;
    overflow:hidden;
    border-top-right-radius:30px;
    border-bottom-right-radius:30px;
}

.slides-container {
    position: relative;
    width:100%;
    height:450px;
}

.slide { 
    position:absolute; 
    width:100%; 
    height:100%; 
    opacity:0; 
    transition:opacity 0.7s ease-in-out; 
}

.slide img { 
    width:100%; 
    height:100%; 
    object-fit:cover; 
    border-top-right-radius:30px; 
}

.active { opacity:1; }

.slide-text {
    margin-top:10px;
    color:#21c76a;
    font-size:18px;
    text-align:left;
}

.arrow {
    position:absolute;
    top:50%;
    transform:translateY(-50%);
    background:rgba(255,255,255,0.6);
    border:none;
    font-size:30px;
    padding:10px 15px;
    cursor:pointer;
    border-radius:50%;
    user-select:none;
}

.arrow-left { left:15px; }
.arrow-right { right:15px; }
.arrow:hover { background:rgba(255,255,255,0.9); }
